In [1]:
import pyspark
from pyspark.sql.functions import col
from pyspark.sql.functions import desc
from pyspark.sql.functions import when
from pyspark.sql.functions import split
from pyspark.sql.types import IntegerType

In [2]:
spark = pyspark.sql.SparkSession.builder.appName("eCommerce data").getOrCreate()

In [3]:
output_path = "results/combined-by-time/"
path = "data/"
df = spark.read.csv(path, header=True)

#### extract only day part from event time and create new dataframe

In [4]:
df_day = df.withColumn("event_time", df['event_time'].substr(9, 2))
df_day.show(5)

+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
|event_time|event_type|product_id|        category_id|       category_code|  brand| price|  user_id|        user_session|
+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
|        01|      view|  10900348|2232732105912091273|appliances.kitche...|kitfort|117.63|550295099|23f5ab9e-7774-416...|
|        01|      view|  14300020|2232732107967300275|   apparel.underwear|  casio|264.37|622070532|edf19213-f0dd-46e...|
|        01|      view|  13200063|2232732061804790604|furniture.bedroom...|   null|126.10|552832344|608087d8-6b69-21d...|
|        01|      view| 100077498|2232732085846540487|construction.tool...| tamina|424.72|613391860|5ab6c3d5-edd7-4e1...|
|        01|      view|   1005014|2232732093077520756|construction.tool...|samsung|482.73|517021211|0c34308d-c455-40b...|
+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
only showing top 5 rows

#### extract only day and month parts from event time and create new dataframe

In [7]:
df_month_day = df.withColumn("event_time", df['event_time'].substr(6, 5))
df_month_day.show(5)

+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
|event_time|event_type|product_id|        category_id|       category_code|  brand| price|  user_id|        user_session|
+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
|     03-01|      view|  10900348|2232732105912091273|appliances.kitche...|kitfort|117.63|550295099|23f5ab9e-7774-416...|
|     03-01|      view|  14300020|2232732107967300275|   apparel.underwear|  casio|264.37|622070532|edf19213-f0dd-46e...|
|     03-01|      view|  13200063|2232732061804790604|furniture.bedroom...|   null|126.10|552832344|608087d8-6b69-21d...|
|     03-01|      view| 100077498|2232732085846540487|construction.tool...| tamina|424.72|613391860|5ab6c3d5-edd7-4e1...|
|     03-01|      view|   1005014|2232732093077520756|construction.tool...|samsung|482.73|517021211|0c34308d-c455-40b...|
+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
only showing top 5 rows

#### from rows from new dataframes only filter 'view' event

In [6]:
df_view_day = df_day.where(col("event_type") == "view")
df_view_month_day = df_month_day.where(col("event_type") == "view")

#### group results by time, count and sort then write results to file

In [7]:
df_view_day.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "view-by-day")

In [8]:
df_view_month_day.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "view-by-month-day")


#### from rows from new dataframes only filter 'purchase' event

In [8]:
df_purchase_day = df_day.where(col("event_type") == "purchase")
df_purchase_month_day = df_month_day.where(col("event_type") == "purchase")

#### group results by time, count and sort then write results to file

In [10]:
df_purchase_day.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "purchase-by-day")
df_purchase_month_day.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "purchase-by-month-day")

#### from rows from new dataframes only filter 'cart' event

In [11]:
df_cart_day = df_day.where(col("event_type") == "cart")
df_cart_month_day = df_month_day.where(col("event_type") == "cart")

#### group results by time, count and sort then write results to file

In [12]:
df_cart_day.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "cart-by-day")
df_cart_month_day.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "cart-by-month-day")

# Below we will find the time analysis of customer behaviour for different categories

#### from rows of df_purchase_day only filter "electronics.smartphone" category

In [9]:
df_phones = df_purchase_day.where(col("category_code") == "electronics.smartphone")

#### group results by time, count and sort then write results to file

In [10]:
df_phones.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "phones-purchase-by-day")

#### from rows of df_purchase_day only filter "appliances.kitchen.refrigerators" category

In [11]:
df_refrigerator = df_purchase_day.where(col("category_code") == "appliances.kitchen.refrigerators")

#### group results by time, count and sort then write results to file

In [12]:
df_refrigerator.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "refrigerator-purchase-by-day")

#### from rows of df_purchase_day only filter "furniture.bedroom.blanket" category

In [13]:
df_blanket = df_purchase_day.where(col("category_code") == "furniture.bedroom.blanket")

#### group results by time, count and sort then write results to file

In [14]:
df_blanket.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "blanket-purchase-by-day")

#### from rows of df_purchase_day only filter "kids.fmcg.diapers" category

In [9]:
df_diapers = df_purchase_day.where(col("category_code") == "kids.fmcg.diapers")

#### group results by time, count and sort then write results to file

In [10]:
df_diapers.groupBy('event_time').count().sort(col("event_time")).write.csv(output_path + "diapers-purchase-by-day")

#### extract only month from event time and create new dataframe

In [4]:
df_month = df.withColumn("event_time", df['event_time'].substr(6, 2))
df_month.show(5)

+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
|event_time|event_type|product_id|        category_id|       category_code|  brand| price|  user_id|        user_session|
+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
|        03|      view|  10900348|2232732105912091273|appliances.kitche...|kitfort|117.63|550295099|23f5ab9e-7774-416...|
|        03|      view|  14300020|2232732107967300275|   apparel.underwear|  casio|264.37|622070532|edf19213-f0dd-46e...|
|        03|      view|  13200063|2232732061804790604|furniture.bedroom...|   null|126.10|552832344|608087d8-6b69-21d...|
|        03|      view| 100077498|2232732085846540487|construction.tool...| tamina|424.72|613391860|5ab6c3d5-edd7-4e1...|
|        03|      view|   1005014|2232732093077520756|construction.tool...|samsung|482.73|517021211|0c34308d-c455-40b...|
+----------+----------+----------+-------------------+--------------------+-------+------+---------+--------------------+
only showing top 5 rows

#### group results by time, sum price and sort then write results to file

In [10]:
df_month = df_month.withColumn("price", col("price").cast(IntegerType()))
df_month.groupBy('event_time').sum("price").sort(col("event_time")).write.csv(output_path + "sales-by-month")